/* buttons */

	.button{display: inline-block;padding:0;font-size: 14px;font-weight: 700;color:#b9722e;text-transform: uppercase;text-decoration:none;border-radius: 50px;box-shadow:4px 4px 5px 0 rgba(25, 14, 4, .15);display: inline-block;overflow: hidden;position: relative;text-align: center;max-width: 250px;width: 100%;background-color:#fff;cursor:pointer;border:none;background-image:url(../images/button-background.png);transition:color 500ms ease;
		&:before{content: '';display: block;position: absolute;top:0;bottom: 100%;left:0;right:0;background-color:#da9f64;transition:all 500ms ease;}
		span{position: relative;display:inline-block;z-index: 1;height: 45px;line-height: 42px;width: 100%;border:3px solid #da9f64;border-radius: 50px;}
		&:hover{color:#fff;
			&:before{bottom:0;}
		}
		&.green-button{color:#ffffff;background-color:#60876f;}
		&.button-simple-gray{color:#4e4e4e;background-image:none;
			&:before{background-color:#e3e0e0;}
			span{border-color:#e3e0e0;}
			&:hover{color:#fff;}
		}
	}

/* /buttons */

/* header */

	body{background-color: red;}

	.header{position: relative;background-color:#ffffff;z-index: 2;

		//header-top (basic)

		&:after{content: '';display: block;position: absolute;left: 0;right: 0;top: 100%;height: 0px;background-image:url(../images/header-background-img-main.png);height: 52px;background-repeat: repeat-x;}
		.mobile-field{display: none;position: absolute;left: 0;top: 0;right: 0;bottom: 0;background-color: #fff;z-index: 1;}
		.mbox{padding: 0;}
		.header-logo-mobile{display: none;position: absolute;top: 0;left:50%;transform:translate(-50%, 0);z-index: 1;}
		.header-links-wrap{float: right;max-width: 220px;width: 100%;position: relative;z-index: 2;padding-left: 10px;padding-top: 35px;}
		.header-navigate-wrap{float: left;max-width: calc(100% - 225px);width: 100%;min-height: 80px;position: relative;

			//header social links

			.header-social-links{position: absolute;top:calc(50% - 5px);left:0;z-index: 1;padding-left: 5px;
				a{display: inline-block;vertical-align:top;position: relative;border:1px solid #88706a;width: 25px;height: 25px;border-radius: 2px;overflow: hidden;
					img{position: absolute;left: 0;top: 0;z-index: 0;
						&.soc-hover{left: -100%;z-index:1;transition:left 300ms ease;}
					}
					&:hover{
						img{
							&.soc-hover{left: 0;}
						}
					}
				}
			}

			//sendwich

			.sendwich-icon-wrap{display: none;position: absolute;left: 15px;top: calc(50% - 9px);z-index: 2;
				.sedwich-icon{position: relative;padding:12px 0;width: 30px;cursor: pointer;
					&:before, &:after{content: '';display: block;position: absolute;left: 0;width: 100%;height: 5px;border-radius: 3px;background-color:#52383d;transform-origin:0 50%;transition:transform 300ms ease, background-color 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms ease, width 300ms ease;}
					&:before{top:0;}
					&:after{bottom:0;}

					&:hover{
						&:before, &:after{background-color:#90bcb2;}
						span{background-color:#90bcb2;}
					}
					span{display: block;height: 5px;border-radius: 3px;background-color: #52383d;transition:opacity 300ms ease, background-color 300ms ease;}
				}
				&.active{
					.sedwich-icon{
						&:before, &:after{width: 120%;left:1px;}
						&:before{transform:rotateZ(43deg);}
						&:after{transform:rotateZ(-43deg);}
						span{opacity: 0;}
					}
				}
			}

			.header-navigate-main{display: table;width: calc(100% - 150px);margin-left: 150px;}
			.header-logo{
				img{margin-bottom: -75px;}
			}
		}
		.header-menu, .header-logo{display: table-cell;vertical-align: top;text-align: center;}
		.header-menu{padding-top: 35px;
			li{display: inline-block;vertical-align: middle;margin-right:10%;
				a{text-decoration: none;color:#53393e;font-size: 14px;text-transform: uppercase;font-weight: 700;transition:color 300ms ease;
					&:hover{color:#90bcb2;}
				}
				&.active{
					&>a{color:#90bcb2;}
					&.second-level{
						.second-level-icon{border-color:transparent transparent transparent #90bcb2;}
					}
				}
				&.second-level{cursor:pointer;position: relative;
					.second-level-icon{display: inline-block;width: 0;height: 0;border-width: 4px 0 4px 5px;border-style: solid;border-color:transparent transparent transparent #53393e;vertical-align: middle;transform-origin:50% 50%;margin-right:2px;margin-top:-2px;transition:transform 300ms ease;
						&.rotate{transform:rotate(90deg);}
					}
					ul{display: none;position: absolute;top:100%;width: 175px;padding: 15px 15px 10px 20px;background-color: #fff;border-radius: 0 15px 15px 15px;box-shadow:0 8px 27px 3px rgba(35, 14, 4, .36);text-align: left;
						li{display: block;margin-right: 0;margin-bottom: 7px;
							&:last-child{margin-bottom: 0;}
						}
					}
				}
				&:last-child{margin-right: 0;}
			}
		}

		//enter-wrap

		.enter-wrap, .busked-link{display: inline-block;vertical-align: middle;}
		.enter-wrap{position: relative;margin-right: 20px;
			&.show{
				.header-form-wrap{
					&:before{transition:opacity 300ms ease;opacity: 1;}
				}
			}
			.enter-wrap-link{cursor: pointer;
				&:hover, &.active{
					.enter-wrap-text{color:#90bcb2;}
					.enter-wrap-icon{border-color:#90bcb2 transparent transparent transparent;transform:rotate(0deg);}
				}
			}
			.enter-wrap-text{display: inline-block;font-size: 14px;font-weight: 700;color:#52383d;text-transform: uppercase;transition:color 300ms ease;}
			.enter-wrap-icon{display: inline-block;vertical-align: middle;width: 0;height: 0;margin-top:-2px;border-width: 5px 4px 0 4px;border-color:#52383d transparent transparent transparent;border-style:solid;transform:rotate(-90deg) translateZ(0px);transform-origin:50% 50%;transition:border-color 300ms ease, transform 300ms ease;}

		}

		//basked link

		.busked-link{margin-right: 0px;
			a{text-decoration: none;color:#52383d;font-weight: 700;text-transform: uppercase;font-size: 14px;position: relative;padding-right:40px;display: inline-block;transition:color 300ms ease;
				&:hover{color:#90bcb2;
					.busked-icon{
						&:before{opacity: 1;}
						&:after{border-color:#90bcb2 transparent transparent transparent;}
					}
				}
			}
			.busked-icon{width: 18px;height: 18px;background-image:url(../images/basked-icon.png);background-repeat: no-repeat;position: absolute;display: inline-block;right:20px;bottom: 3px;
				&:before{content: '';display: block;position: absolute;width: 100%;height: 100%;background-image:url(../images/basked-icon-hover.png);opacity: 0;transition:opacity 300ms ease;}
				&:after{content: '';position: absolute;display: block;width: 0;height: 0;border-width: 5px 4px 0 4px;border-color:#52383d transparent transparent transparent;border-style:solid;left: calc(100% + 10px);top: 10px;transition:border-color 300ms ease;}
				.basked-icon-value{position: absolute;display: table;width: 25px;height: 25px;border-radius: 50%;background-color:#d24a43;left:calc(100% - 10px);bottom: calc(100% - 10px);
					span{display: table-cell;vertical-align: middle;text-align: center;font-size: 12px;font-weight: 700;color:#fff;padding-top: 1px;}
				}
			}
		}

		//header form wrap

		.header-form-wrap{position: absolute;top:100%;right: 0;width: 370px;text-align: center;display: none;padding-top: 25px;
			&:before{content:'';display: block;position: absolute;top: 25px;left: 0;right: 0;bottom: 0;z-index: 0;background-color:transparent;border-radius:25px 0 25px 25px;box-shadow:0 8px 27px 0 rgba(35, 6, 1, .36), 0 -25px 32px 0 rgba(35, 6, 1, .1);opacity: 0;transition:opacity 0ms ease;}
			.header-form{background-color: #fff;border-radius: 25px 0 25px 25px;padding:25px 40px 20px 40px;position: relative;z-index: 1;
				&:before{content: '';display: block;position: absolute;right:0;bottom:100%;width: 0;height: 0;border-width: 13px;border-style:solid;border-color:transparent #fff #fff transparent;}
				.header-enter-title{font-weight: 700;font-size: 18px;color:#6c484e;text-transform: uppercase;margin-bottom: 40px;line-height: 22px;}
				.buttons_form_main{padding-top: 50px;margin-bottom: 25px;
					.buttons_form_wrap{margin-bottom: 10px;
						&:last-child{margin-bottom: 0;}
					}
				}
				.header-form-links{
					.header-form-links-text{color:#292727;font-size:11px;margin-bottom: 20px;}
					.header-form-links-socials{
						a{text-decoration:none;display: inline-block;margin:0 2px;border:2px solid transparent;border-radius: 7px;}
					}
				}
			}
		}

		// header-footer

		&.header-reverse{
			&:after{top:auto;bottom: 100%;transform:rotate(-180deg);}
			.header-navigate-wrap{
				.header-logo{
					img{margin-bottom: 0;margin-top: -85px;}
				}
			}

			.header-menu{
				li{
					&.second-level{
						ul{top:auto;bottom: 100%;border-radius: 15px 15px 15px 0;}
					}
				}
			}

			.enter-wrap{
				.enter-wrap-link{
					&.active, &:hover{
						.enter-wrap-icon{transform:rotate(-180deg);}
					}
				}
			}
			.header-form-wrap{top:auto;bottom:100%;padding-top: 0;padding-bottom: 25px;
				&:before{top:0;bottom: 25px;box-shadow:0 -8px 27px 0 rgba(35, 6, 1, 0.36), 0 25px 32px 0 rgba(35, 6, 1, 0.1);}
				.header-form{border-radius: 25px 25px 0 25px;
					&:before{bottom: auto;top:100%;border-color: #fff #fff transparent transparent;}
				}
			}

		}
	}

/* /header */

/* form */

	.form{
		.form_row{margin-bottom: 16px;
			&:after{content:'';display: block;clear:both;}
		}
		.form_input_wrap{text-align: left;
			.form_input_title{font-weight: 700;font-size:14px;color:#bd864c;text-transform:uppercase;letter-spacing:0.75px;margin-bottom: 5px;}
			.form_input{position: relative;
				input{width: 100%;background-color:#fff;border:1px solid #d4a16c;padding: 0 7px;height: 35px;line-height: 35px;font-size: 14px;color:#000;border-radius: 5px;box-shadow:0 0 0 0 rgba(185, 4, 4, 0);transition:box-shadow 300ms ease, border-color 300ms ease;
					&.error{border-color:red;box-shadow: 0 0 5px 0 rgba(185, 4, 4, .75);
						&::-webkit-input-placeholder {color:#b90404;}
						&:-moz-placeholder {color:#b90404;}
						&::-moz-placeholder {color:#b90404;}
						&:-ms-input-placeholder {color:#b90404;}
					}
					&[type="password"]{
						&+.errorText{top: calc(100% + 15px);width: auto;height: auto;opacity: 1;color:#b90404;font-size: 12px;}
					}
				}
			}
			.errorText{font-size: 0;color:transparent;height: 0;width: 0;opacity: 0;line-height: 0;position: absolute;top: -9999px;}
			.form_input_link{text-align: right;padding-top: 3px;
				a{text-decoration: none;color:#5b8069;font-size:12px;font-weight: 400;letter-spacing: .5px;position: relative;transition:color 300ms ease;
					&:after{content: '';display: block;position: absolute;left: 0;top: 100%;height: 1px;background-color: #5b8069;width: 100%;transition:width 300ms ease, background-color 300ms ease;}
					&:hover{color:#90bcb2;
						&:after{width: 0;background-color: #90bcb2;}
					}
				}
			}
		}
	}

/* /form */

/* busked */

	.busked-wrapper-fancybox{width: 100%!important;max-width: 1170px;left:50%!important;transform:translate(-50%, 0);
		.fancybox-skin{border-radius: 20px;}
		.fancybox-inner{width: 100%!important;}
		#busked{max-width: 1170px;width: 100%;}
		.busked{padding: 25px 50px 25px 50px;}
		.busked-title{font-size: 30px;font-weight: 500;color:#4e4e4e;margin-bottom: 5px;}
		.busked-items-wrap{border-bottom: 1px solid #eaeaea;}
		.busked-item{position: relative;padding: 25px 40px 25px 75px;}
		.busked-close{position: absolute;cursor: pointer;}
		.busked-img{width: 150px;height: 150px;border:1px solid #dadada;background-color: #fff;position: relative;display: inline-block;vertical-align: top;
			img{max-width: 149px;position: absolute;top: 50%;left: 50%;transform:translate(-50%, -50%);overflow: hidden;}
		}
		.busked-descripition{display: inline-block;max-width: calc(100% - 175px);width: 100%;margin-left: 20px;}
		.busked-description-title{font-size: 18px;color:#4e4e4e;font-weight: 500;max-width: 365px;width: 100%;margin-bottom: 40px;}
		.busked-description-main{
			.busked-description-price, .busked-description-count, .busked-description-value{display: inline-block;margin-left: -4px;vertical-align: middle;}
			.busked-description-price{width: 35%;margin-left: 0px;
				span{display: inline-block;padding: 12px 18px;background-color: rgba(230, 215, 2, .2);border-radius: 10px;font-size: 30px;color:#4e4e4e;}
			}
			.busked-description-count{width: 45%;}
			.busked-description-value{width: 20%;}
		}
		.count-button{display: inline-block;width: 22px;height: 22px;position: relative;vertical-align: middle;cursor:pointer;
			&:before, &:after{content: '';display: block;position: absolute;background-color: #90bcb2;transition:background-color 300ms ease;}
			&:before{top:calc(50% - 2px);left: 0;width: 100%;height: 3px;}
			&:after{top: 0;left: calc(50% - 2px);height: 100%;width: 3px;}
			&:hover{
				&:before, &:after{background-color: #b9722e;}
			}
			&.disable{cursor:default;
				&:before, &:after{background-color:#a6a6a6;}
			}
			&.count-minus{
				&:after{display: none;}
			}
		}
		.count-input{display: inline-block;margin: 0 4px;
			input{max-width: 60px;height: 60px;line-height: 60px;border:1px solid #cdcdcd;border-radius: 5px;font-size: 24px;color:#4e4e4e;text-align: 	center;padding: 0 5px;}
		}
		.busked-description-value{font-size: 30px;color:#4e4e4e;text-align: right;}

		.busked-buttons{
			.busked-buttons-left, .busked-buttons-right{display: inline-block;width: 50%;vertical-align: bottom;}
			.busked-buttons-left{top:-20px;position: relative;}
			.busked-buttons-right{margin-left: -4px;text-align: right;}
			.busked-buttons-right-wrap{display: inline-block;max-width: 385px;width: 100%;padding: 15px 20px 20px 20px;border-radius:0 0 15px 15px;background-color: rgba(230, 215, 2, .2);}
			.busked-sum-text{display: inline-block;font-size: 30px;color:#4e4e4e;}
			.busked-sum-value{display: inline-block;width: calc(100% - 90px);font-size: 30px;color:#4e4e4e;margin-bottom: 5px;
				.busked-sum-value-numb{font-size: 36px;}
			}
			.button{max-width: 355px;}
		}

	}

/* /busked */

/* fancybox */

	/*.busked-wrapper-fancybox{*/
		.fancybox-close{right: 20px;top:20px;width: 31px;height: 31px;border-radius: 50%;background-image:none;background-color:#dcdcdc;cursor: pointer;transition:background-color 300ms ease;
			 &:before, &:after{content: '';position: absolute;display: block;width: 21px;height: 2px;background-color:#fff;top:48%;left:calc(50% - 11px);}
			 &:before{transform:rotate(-45deg);top:calc(50% - 3px);}
			 &:after{transform:rotate(45deg);}
			 &:hover{background-color: #d24a43;
				&:before, &:after{background-color: #dcdcdc;}
			 }
		}
	/*}*/

/* /fancybox */