.title-text{ font-family: 'Posterizer'; font-size: 62px; line-height: 72px;}

#last-news{background-image: url(../images/header-background-img-rotate.png); background-repeat: repeat-x; background-position: right -1px; margin-top: -37px; padding-top: 80px;
    .wrap-last{background-image: url(../images/bg-l1-cat.png); background-size: 1920px 485px; background-position: right bottom; background-repeat: no-repeat; padding-bottom: 195px;    padding-top: 41px;
        .convert-last{color: #e5a165;background-image: url(../images/bg-l2-cat.jpg); background-size: 367px 419px; background-position: left bottom; background-repeat: no-repeat;}
    }
}

.items-wrap{ width: 100%; color: black; padding-top: 64px;
    .item-inside{ float: left; width: 31.5%; margin: 0 calc(5.5%/6); position: relative;
        .image-block{width: 100%; height: auto; border-radius: 2px; position: relative; z-index: 5; overflow: hidden;
            img{transition: all 0.5s;transform: scale(1); width: 100%; height: auto;}
            img:hover{transform: rotate(3deg) scale(1.2);}
        }
        .after-text{padding-top: 25px; font-family: 'PFDinTextPro'; font-size: 18px; line-height: 26px; font-weight: 500; color: #454545;}
        .lapische{width: 100%; height:14px; background-image: url(../images/lapische.png); background-repeat: no-repeat; }
        .undertext{font-family: 'PFDinTextPro'; font-size: 14px; line-height: 20px; font-weight: 400; color: #454545; padding-top: 21px; padding-bottom: 90px;}
        .button-v-konce{position: absolute; right: 0; bottom: 0; width: 215px; }
    }
}

#popular-item{background-image: url(../images/news-bg.jpg); background-attachment: fixed;background-position: center;
    .popular-wrap{background-image: url(../images/header-background-img.png); background-repeat: repeat-x;background-position: right -3px; padding-top: 103px; padding-bottom: 155px; color: white;}
}
.convert-box-pop{ padding-top: 50px;
    .single-item{float: left; width: 32%; margin: 0 calc(4%/6); text-align: right; position: relative; padding-bottom: 100px;
        .solution-conf{border: 1px solid #b76c26; border-radius: 8px; margin-bottom: 20px; background-image: url(../images/button-background.png);box-shadow: 4px 4px 5px 0 rgba(25, 14, 4, 0.15); background-color:#b76c26;}
        .conteiner-img{width: 100%; height: auto; border-radius: 2px; position: relative; z-index: 5; overflow: hidden;
            img{transition: all 0.5s;transform: scale(1); width: 100%; height: auto;}
            img:hover{transform: rotate(-3deg) scale(1.2);}
        }
        .aftertext{ width: 100%; position: relative;font-family: 'PFDinTextPro'; font-size: 14px; color: #ffffff;
            .maming{ font-weight: 400; width: calc(100% - 150px); text-align: center; line-height: 40px; }
            .pricing{ position: absolute; right: 0px; top: 0; background-image: url(../images/bg-pricing.png); background-repeat: repeat-x; height: 57px; width: 150px; text-align: center; font-weight: 700; line-height: 40px;
                span{font-weight: 400;}
            }
        }
        .button-v-konce{width: 215px; position: absolute; bottom: 0; right: 0; }
    }
}

#one-news, .best-bg-wrap{
    .wrap-one-news{background-image: url(../images/bg-l1-cat.png); background-size: 1920px 485px; background-position: right bottom; background-repeat: no-repeat; padding-bottom: 195px;    padding-top: 120px;
        .construct-impl{color: #e5a165;background-image: url(../images/bg-l2-cat.jpg); background-size: 367px 419px; background-position: left bottom; background-repeat: no-repeat;}
    }
}
.conteiner-inside{
    .config-comn{ width: 100%;}
    .fix-class{padding-top: 55px;}

    .news-lol-scroll{position: relative;color: black; width: 100%; height: 300px;

        h3{display: table; padding-bottom: 30px;position: relative; margin-bottom: 30px; text-transform: uppercase; padding-top: 10px;
            span{position: relative; display: table-cell; font-family: 'PFDinTextPro'; font-size: 24px; line-height: 26px; font-weight: 500; width:calc(100% - 115px); }
            i{display: none;}
            &:after{content: ''; position: absolute; left: 0; right: 0; bottom: 2px; height: 14px;background-image: url(../images/lapische.png); background-repeat: repeat-x; }
        }
        i{ position: absolute; top: 10px; right: 40px; font-family: 'PFDinTextPro'; font-size: 24px; line-height: 26px; font-weight: 500;}
        p{font-family: 'PFDinTextPro'; font-size: 18px; line-height: 24px; font-weight: 400;}
    }
}
.conteiner-inside {
    .content-more{ padding-bottom: 20px; overflow: hidden; position: relative;
        img{float:left;margin:0 30px 10px 0;max-width: 28.5%;}
        h3{padding-top: 0px;    padding-bottom: 20px; margin-bottom: 12px;}
        i {top: 0px;right: 20px;}
        p{ max-height: 100px; overflow: hidden;}
        .button-v-konce{position: absolute; right: 17px; bottom: 25px; width: 213px;}
    }
}


body{background-color: white; min-height: 0 ;}

.news-lol-scroll .jspVerticalBar {width: 0px;}

