/*like-massonry*/
.like-massonry{position: relative;padding-top: 50px;padding-bottom: 209px;background-color: white;
    &:after{content: '';background: url('../images/header-background-img.png') left top;height: 39px;width: 100%;top: 0;left: 0;position: absolute;background-repeat: repeat-x;transform: rotateZ(-180deg);}
    &:before{content: '';background: url('../images/header-background-img.png') left top;height: 39px;width: 100%;bottom: 0;left: 0;position: absolute;background-repeat: repeat-x;}
    .like-massonry-grid{}
    a{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin:0;color: white;background-size: cover;background-repeat: no-repeat;background-position: center center;transition: 2s -webkit-filter linear;
        &:after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0, .3);opacity: 0;content: '';}
        span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(1);font-weight: bold;text-transform: uppercase;font-size: 24px;transition: font-size ease .2s;}
    }
    .grid_item{position: relative;overflow: hidden;transition:box-shadow ease.3s;
        &:hover{box-shadow: 0px 0px 8px 2px rgba(152, 107, 64, 0.92);
            a{
                span{transform-style: preserve-3d;transform:translate(-50%, -50%);font-size: 28px;}
            }
        }
        &:active{
            a:after{opacity: 1;}
        }
    }
    .item-left{float: left;width: 26.5%;padding-right: 20px;
        .item_1{margin-bottom: 20px;}
        .item_2{}
    }
    .item-right{float: left;width: 73.5%;
        .item-top{margin-bottom: 20px;
            .item-top-left{float: left;width: 36%;padding-right: 20px;
                .item_3{}
            }
            .item-top-right{float: left;width: 64%;
                .item_4{margin-bottom: 20px;}
                .item_5{}
            }
        }
        .item-bottom{
            .item-bottom-left{padding-right: 20px;float: left;width: 64%;}
            .item_6{float: left;width: 100%;}
            .item_7{float: left;width: 36%;}
        }
    }
    .title-text{color: #e5a165;padding-top: 96px;padding-bottom: 35px;}
    .like-mas-cats{position: absolute;top: 25%;left: 0%;pointer-events:none;
        &.paral-cat-2{left: auto;right: 0%;top: auto;bottom: 7%}
    }

}
/*/like-massonry*/

/*top-block*/
.top-block{min-height: 770px;background: url('../images/top-blog-bg.jpg') center 0% no-repeat;background-attachment: fixed;position: relative;
    &:after{content: '';background: url('../images/header-background-img.png') left top;height: 39px;width: 100%;bottom: 0;left: 0;position: absolute;background-repeat: repeat-x;transform: rotateZ(-180deg);}
    .top-block-text{padding-top: 230px;text-align: right;}
    .title-text{color: #e5a165;font-size: 72px;position: relative;z-index: 1;padding-bottom: 10px;
        &:after{content: '';height: 61px;width: 61px;position: absolute;right: -68px;top: -56%;background: url('../images/cookie.png') center center no-repeat;z-index: 2;pointer-events:none;}
    }
    .lapische{height: 14px;max-width: 280px;width: 100%;background-image: url(../images/lapische.png);background-repeat: no-repeat;display: inline-block;}
    .description{width: 100%;color: white;font-size: 16px;font-weight: 300;padding-top: 15px;padding-bottom: 45px;
        p{max-width: 313px;display: inline-block;}
    }
}
/*/top-block*/


/*delivery*/
.delivery{background: url('../images/delivary-bg.jpg') center center no-repeat;background-attachment: fixed;background-size: cover;margin-top: -40px;min-height: 845px;
    .title-text{color: white;padding-top:129px;padding-bottom: 42px;}
    .delivery-items{text-align: center;}
    .delivery-item{width: 32%;text-align: center;display: inline-block;vertical-align: top;margin-bottom: 45px;
        &.item-2{
            .delivery-item-text{bottom: -13px;left: 55%;}
        }
        &.item-3{
            .delivery-item-text{bottom: -13px;left: 46%;}
        }
        &.item-5{
            .delivery-item-text{bottom: -8px;left: 53%;}
        }
        &.item-6{
            .delivery-item-text{bottom: 4px;left: 36%;}
        }
    }
    .delivery-item-wrap{display: inline-block;position: relative;vertical-align: top;}
    .delivery-item-img{min-height: 184px;}
    .delivery-item-text{position: absolute;bottom:-7px;width: 132px;left: 44%;color: white;font-size: 14px;font-weight: 400;text-transform: uppercase;}
}
/*/delivery*/


/*item-card*/
/*slider*/
.item-card-column{float: left;max-width: 52px;}
.item-card-main-img{max-width: 335px;width: 100%;float: right;height: 230px;position: relative;overflow: hidden;border-radius: 3px;border:1px solid #dda56b;background-color: white;z-index: 5;
    a{display: block;
        &:after{position: absolute;top: 0;left: 0;margin:0;background-image: url(../images/loop.png);background-position: center center;background-repeat: no-repeat;z-index: 3;background-color: rgba(0,0,0, .4);width: 100%;height: 100%;content: '';transition:all ease-out .2s;opacity: 0;}
    }
    img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);margin:0;z-index: 1;}
    &:hover{
        a:after{opacity: 1;}
    }
}
.item-card-img-item{height: 52px !important;width: 52px;border-radius: 3px;border:1px solid #dda56b;background-color: white;overflow: hidden;position: relative;margin-bottom: 7px;
    &.slick-current{border-color: #C36300;}
    &:last-child{margin-bottom: 0;}
    img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);margin:0;}
}
.item-card-img .slick-prev,.item-card-img .slick-next{top: -20px;border-left: 3px solid #dda56b;border-top: 3px solid #dda56b;height: 16px;width: 16px;left: 50%;transform: translate(-50%, 0) rotate(45deg);}
.item-card-img .slick-next{top: auto;bottom:-17px;transform: translate(-50%, 0) rotate(-135deg);}


.item-card{padding-top: 40px;
    .item-card-title{padding-bottom: 40px;color: #4e4e4e;font-size: 30px;}
    .item-card-center{padding-bottom: 75px;}
    .item-card-left{float: left;width: 400px;}
    .item-card-right{float: right;width: calc(100% - 440px);}

    .item-card-table{font-size: 14px;color: #7d7d7d;width: 450px;margin-bottom: 35px;
        .item-card-row{margin-bottom: 10px;width: 100%;}
        .item-card-col-left{max-width: 280px;width: 60%;position: relative;float: left;
            &:after{position: absolute;z-index: 1;bottom:4px;left: 0;width: 100%;border-top: 1px dotted #e4e4e4;content: '';}
            span{padding-right: 10px;background-color: white;display: inline-block;position: relative;z-index: 3;}
        }
        .item-card-col-right{float: left;width: 40%;padding-left: 10px;
            span{}
        }
    }
    .hr{border:none;border-top: 1px solid #f2f2f2;width: 100%;height: 0;margin:0;padding: 0;}
    .item-card-right-bottom{max-width: 523px;width: 100%;padding-top: 20px;
        .item-card-right-bottom-left{font-size: 36px;color: #4e4e4e;float: left;width: 50%;}
        .item-card-right-bottom-right{float: right;width: 50%;
            a{max-width: 220px;}
        }
    }
    .item-card-texter{padding-top: 35px;font-size: 18px;color: #6a6a6a;
        h4,h5,h6{color: #b2b2b2;font-size: 24px;margin-bottom: 20px;
            b{color: #4e4e4e;}
        }
        b{font-weight: bold;color: #4e4e4e;}
        p{margin-bottom: 20px;}
    }

   .item-card-hidden{position: absolute;left: -99999em;top: -99999em;}
}
/*popup*/
.item-card-fancy{
    .fancybox-skin{background-color: white;box-shadow: none;}
}
#item-card-pop{width: 1170px;padding: 50px;
    .hidden-slider{width: 100%;max-width: 630px;margin:0 auto;}
    .item-card-main-img{float: left;max-width: 500px;height: 500px;}
    .item-card-column{float: right;max-width: 111px;}
    .item-card-img-item{height: 111px !important;width: 111px;margin-bottom: 12px;}
    .item-card-pop-top{padding-bottom: 33px;}
    .item-card-pop-title{float: left;width: 61%;font-size: 30px;color: #4e4e4e;padding-right: 20px;line-height: 30px;}
    .item-card-pop-buy{float: left;width: 39%;background-color: #faf7cc;padding: 5px 0px;border-radius: 10px;overflow: hidden;}
    .item-card-pop-price{float: left;width: 38%;color: #4e4e4e;font-size: 36px;line-height: 46px;text-align: center;}
    .item-card-pop-button{float: left;width: 62%;text-align: center;
        a{max-width: 210px;}
    }
}
/*/item-card*/


































