// title
.title-text{ font-family: 'Posterizer'; font-size: 62px; line-height: 72px;}
// /title
// -----------------------------------------------------------------------------------------------------------

// last news
#last-news{background-image: url(../images/header-background-img-rotate.png); background-repeat: repeat-x; background-position: right -1px; margin-top: -37px; padding-top: 80px;position: relative;
    .wrap-last{background-image: url(../images/bg-l1-cat.png); background-size: 1920px 485px; background-position: right bottom; background-repeat: no-repeat; padding-bottom: 195px;    padding-top: 41px;
        .convert-last{color: #e5a165;background-image: url(../images/bg-l2-cat.jpg); background-size: 367px 419px; background-position: left bottom; background-repeat: no-repeat;}
    }
}

.items-wrap{ width: 100%; color: black; padding-top: 64px;
    .item-inside{ float: left; width: 31.5%; margin: 0 calc(5.5%/6); position: relative;
        .image-block{width: 100%; height: auto; border-radius: 2px; position: relative; z-index: 5; overflow: hidden;
            img{transition: all 0.5s;transform: scale(1); width: 100%; height: auto;}
            img:hover{transform: rotate(3deg) scale(1.2);}
        }
        .after-text{padding-top: 25px; font-family: 'PFDinTextPro'; font-size: 18px; line-height: 26px; font-weight: 500; color: #454545;}
        .lapische{width: 100%; height:14px; background-image: url(../images/lapische.png); background-repeat: no-repeat; }
        .undertext{font-family: 'PFDinTextPro'; font-size: 14px; line-height: 20px; font-weight: 400; color: #454545; padding-top: 21px; padding-bottom: 90px;}
        .button-v-konce{position: absolute; right: 0; bottom: 0; width: 215px; }
    }
}

// /last news
// -----------------------------------------------------------------------------------------------------------

// popular items

#popular-item{background-image: url(../images/news-bg.jpg); background-attachment: fixed;background-position: center;
    .popular-wrap{background-image: url(../images/header-background-img.png); background-repeat: repeat-x;background-position: right -3px; padding-top: 103px; padding-bottom: 155px; color: white;}
}
.convert-box-pop{ padding-top: 50px;
    .single-item{float: left; width: 32%; margin: 0 calc(4%/6); text-align: right; position: relative; padding-bottom: 100px;
        .solution-conf{border: 1px solid #b76c26; border-radius: 8px; margin-bottom: 20px; background-image: url(../images/button-background.png);box-shadow: 4px 4px 5px 0 rgba(25, 14, 4, 0.15); background-color:#b76c26;}
        .conteiner-img{width: 100%; height: auto; border-radius: 2px; position: relative; z-index: 5; overflow: hidden;
            img{transition: all 0.5s;transform: scale(1); width: 100%; height: auto;}
            img:hover{transform: rotate(-3deg) scale(1.2);}
        }
        .aftertext{ width: 100%; position: relative;font-family: 'PFDinTextPro'; font-size: 14px; color: #ffffff;
            .maming{ font-weight: 400; width: calc(100% - 150px); text-align: center; line-height: 40px; }
            .pricing{ position: absolute; right: 0px; top: 0; background-image: url(../images/bg-pricing.png); background-repeat: repeat-x; height: 57px; width: 150px; text-align: center; font-weight: 700; line-height: 40px;
                span{font-weight: 400;}
            }
        }
        .button-v-konce{width: 215px; position: absolute; bottom: 0; right: 0; }
    }
}
// /popular items
// -----------------------------------------------------------------------------------------------------------

// news and news-on block are the same styles

.best-bg-wrap{
    .wrap-one-news{background-image: url(../images/bg-l1-cat.png); background-size: 1920px 485px; background-position: right bottom; background-repeat: no-repeat; padding-bottom: 195px;    padding-top: 120px;
        .construct-impl{color: #e5a165;background-image: url(../images/bg-l2-cat.jpg); background-size: 367px 419px; background-position: left bottom; background-repeat: no-repeat;}
    }
}
.conteiner-inside{
    .config-comn{ width: 100%;}
    .fix-class{padding-top: 55px;}

    .news-lol-scroll{position: relative;color: black; width: 100%; height: 300px;

        h3{display: table; padding-bottom: 30px;position: relative; margin-bottom: 30px; text-transform: uppercase; padding-top: 10px;
            span{position: relative; display: table-cell; font-family: 'PFDinTextPro'; font-size: 24px; line-height: 26px; font-weight: 500; width:calc(100% - 115px); }
            i{display: none;}
            &:after{content: ''; position: absolute; left: 0; right: 0; bottom: 2px; height: 14px;background-image: url(../images/lapische.png); background-repeat: repeat-x; }
        }
        i{ position: absolute; top: 10px; right: 40px; font-family: 'PFDinTextPro'; font-size: 24px; line-height: 26px; font-weight: 500;}
        p{font-family: 'PFDinTextPro'; font-size: 18px; line-height: 24px; font-weight: 400;}
    }
}
.conteiner-inside {
    .content-more{ padding-bottom: 20px; overflow: hidden; position: relative;
        img{float:left;margin:0 30px 10px 0;max-width: 28.5%;}
        h3{padding-top: 0px;    padding-bottom: 20px; margin-bottom: 12px;}
        i {top: 0px;right: 20px;}
        p{ max-height: 100px; overflow: hidden;}
        .button-v-konce{position: absolute; right: 17px; bottom: 25px; width: 213px;}
    }
}

// /news and news-on block are the same styles

// -----------------------------------------------------------------------------------------------------------

// delivery
.delivery-wrap{ background-image: url(../images/delivery-bg.jpg); background-attachment: fixed; background-position: center center; color: white;padding-bottom: 195px;    padding-top: 102px;
    .convert-delivery{
        .after-content{
            .row{width: 100%; padding: 20px 0 10px; margin-bottom: 26px;
                .title-row{width: 100%; text-transform: uppercase; color: white; padding-bottom: 7px; margin-bottom: 30px; position: relative; letter-spacing: 2px;
                    &:after{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 1px;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
                    background: -o-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); }
                }
                .content-element{ width: 100%;
                    .element-img{width: 120px; float: left; }
                    .after-block{ margin-left: 130px; font-family: 'PFDinTextPro'; font-size: 14px; line-height: 18px;color:#ffcc5f;
                        h5{font-weight: 700;  text-transform: uppercase; padding-bottom: 5px; }
                        p{font-weight: 400; color: white;}
                    }
                    .colorized-ff{color: #00e3c8;}
                    .colorized-fs{color: #bed9c5;}
                    .colorized-ft{color: #6be1dd;}

                    .colorized-sf{color: #eec37d;}
                    .colorized-ss{color: #80e8d7;}
                }
                .sliced-row{width: 30%; float: left; margin: 0 calc(10%/6);}
            }
        }
    }
}

// /delivery

// -----------------------------------------------------------------------------------------------------------

// breadrcrumbs
.breadrcrumbs{font-family: 'PFDinTextPro'; font-size: 14px; line-height: 18px; padding-top: 95px;
    a{ padding-right: 14px;margin-right: 8px; text-decoration: none; position: relative;color:#7d7d7d;
        &:after{content: '/'; right: 0px; position: absolute; transition: all 0.3s;}
        &:hover{color: #7abdb3;}
    }
    a:last-child{color: #7abdb3;
        &:after{content: '';}
    }
}
// /breadrcrumbs

// -----------------------------------------------------------------------------------------------------------

// personal cabinet

.cabinet-wrap{ background-image: url(../images/bg-cat-cabinet.jpg); background-position: left bottom; background-repeat: no-repeat; padding-top: 107px; margin-bottom: 200px;
    .convert{
        .forming-block{padding-top: 37px;
            .row-sample{ border-bottom: 1px solid #cf8746; width: 100%; max-width: 520px; font-family: 'PFDinTextPro'; font-size: 14px; line-height: 26px; margin-bottom: 24px;
                .naming{float: left; font-weight: 700; color:#cf8746; text-transform: uppercase; padding-left: 8px; }
                .context{ float: right;font-size: 18px; color: #747474; display: table; min-height: 26px; vertical-align: middle;
                    form{float: left;}
                    span{font-weight: 700;}
                    .hide-pass{border: none; outline:  none; text-align: right; padding-right: 10px; display: table-cell; font-family: 'PFDinTextPro'; font-size: 14px; letter-spacing: 3px; font-size: 18px;color: #747474; min-height: 26px;}
                    .img-hovered-click{float: right; cursor: pointer; display: table-cell;
                        img{padding-bottom: 4px;padding-right: 6px;}
                    }
                }
            }
            .fun-move-rich-man{display: inline-block; width: 170px; margin-left: 20px;
                .button{
                    span{height: 35px; line-height: 30px;}
                }
            }
            .hipe-block{display: none;}
            .big-row-convert { margin-top: -8px;
                .row-sample{display: inline-block;}
            }
        }
    }

}


body{background-color: white !important; min-height: 0 ; height: 100vh;}

.news-lol-scroll .jspVerticalBar {width: 0px;}

