$border:#c48e58;
/*katalog*/
    /*popular-section*/
        .popular-items{
            .pop-wrap{
                .title-text{h2{}}
                .pop-content{display: flex; justify-content: space-around; flex-wrap: wrap;
                    .item{border:3px solid $border; border-radius: 7px;  width:100%; max-width: 288px; height: 137px; display: inline-block; position: relative; overflow: hidden; vertical-align: top;
                        .imgs{position: relative; overflow: hidden; width:100%; max-width: 282px; height: 131px; border-radius: 7px;
                            img{position: absolute; max-width: none; left:50%; top:50%; transform: translate(-50%, -50%) scale(1.1) rotate(0); transition: transform 500ms; }
                        }
                        .txt{background-color: rgba(0,0,0, 0.5);  position: absolute; top:0; width:100%; height: 100%; text-align: center; padding-top: 50px;
                            p{font: 700 24px/24px 'PFDinTextPro'; color: #fff; text-transform: uppercase; }
                        }
                        &:hover{
                            .imgs{
                                img{transform: translate(-50%, -50%) scale(1.3) rotate(8deg);}
                            }
                        }
                    }
                }
            }
        }
    /*END popular-section*/
/*END katalog*/