/* buttons */

	.button{display: inline-block;padding:0;font-size: 14px;font-weight: 700;color:#b9722e;text-transform: uppercase;border-radius: 50px;box-shadow:4px 4px 5px 0 rgba(25, 14, 4, .15);display: inline-block;overflow: hidden;position: relative;text-align: center;max-width: 250px;width: 100%;background-color:#fff;cursor:pointer;border:none;background-image:url(../images/button-background.png);transition:color 500ms ease;
		&:before{content: '';display: block;position: absolute;top:0;bottom: 100%;left:0;right:0;background-color:#da9f64;transition:all 500ms ease;}
		span{position: relative;display:inline-block;z-index: 1;height: 45px;line-height: 42px;width: 100%;border:3px solid #da9f64;border-radius: 50px;}
		&:hover{color:#fff;
			&:before{bottom:0;}
		}
		&.green-button{color:#ffffff;background-color:#60876f;}
	}

/* /buttons */

/* header */

	body{background-color: red;}

	.header{position: relative;background-color:#ffffff;z-index: 2;

		//header-top (basic)

		&:after{content: '';display: block;position: absolute;left: 0;right: 0;top: 100%;height: 0px;background-image:url(../images/header-background-img.png);height: 39px;background-repeat: repeat-x;}
		.mobile-field{display: none;position: absolute;left: 0;top: 0;right: 0;bottom: 0;background-color: #fff;z-index: 1;}
		.mbox{padding: 0;}
		.header-logo-mobile{display: none;position: absolute;top: 0;left:50%;transform:translate(-50%, 0);z-index: 1;}
		.header-links-wrap{float: right;max-width: 220px;width: 100%;position: relative;z-index: 1;padding-left: 10px;padding-top: 35px;}
		.header-navigate-wrap{float: left;max-width: calc(100% - 305px);width: 100%;margin-left: 85px;min-height: 80px;position: relative;

			//sendwich

			.sendwich-icon-wrap{display: none;position: absolute;left: 15px;top: calc(50% - 9px);z-index: 1;
				.sedwich-icon{position: relative;padding:12px 0;width: 30px;cursor: pointer;
					&:before, &:after{content: '';display: block;position: absolute;left: 0;width: 100%;height: 5px;border-radius: 3px;background-color:#52383d;transform-origin:0 50%;transition:transform 300ms ease, background-color 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms ease, width 300ms ease;}
					&:before{top:0;}
					&:after{bottom:0;}

					&:hover{
						&:before, &:after{background-color:#90bcb2;}
						span{background-color:#90bcb2;}
					}
					span{display: block;height: 5px;border-radius: 3px;background-color: #52383d;transition:opacity 300ms ease, background-color 300ms ease;}
				}
				&.active{
					.sedwich-icon{
						&:before, &:after{width: 120%;left:1px;}
						&:before{transform:rotateZ(43deg);}
						&:after{transform:rotateZ(-43deg);}
						span{opacity: 0;}
					}
				}
			}

			.header-navigate-main{display: table;width: 100%;}
			.header-logo{
				img{margin-bottom: -75px;}
			}
		}
		.header-menu, .header-logo{display: table-cell;vertical-align: top;text-align: center;}
		.header-menu{padding-top: 35px;
			li{display: inline-block;vertical-align: middle;margin-right:10%;
				a{text-decoration: none;color:#53393e;font-size: 14px;text-transform: uppercase;font-weight: 700;transition:color 300ms ease;
					&:hover{color:#90bcb2;}
				}
				&.active{
					&>a{color:#90bcb2;}
					&.second-level{
						.second-level-icon{border-color:transparent transparent transparent #90bcb2;}
					}
				}
				&.second-level{cursor:pointer;position: relative;
					.second-level-icon{display: inline-block;width: 0;height: 0;border-width: 4px 0 4px 5px;border-style: solid;border-color:transparent transparent transparent #53393e;vertical-align: middle;transform-origin:50% 50%;margin-right:2px;margin-top:-2px;transition:transform 300ms ease;
						&.rotate{transform:rotate(90deg);}
					}
					ul{display: none;position: absolute;top:100%;width: 175px;padding: 15px 15px 10px 20px;background-color: #fff;border-radius: 0 15px 15px 15px;box-shadow:0 8px 27px 3px rgba(35, 14, 4, .36);text-align: left;
						li{display: block;margin-right: 0;margin-bottom: 7px;
							&:last-child{margin-bottom: 0;}
						}
					}
				}
				&:last-child{margin-right: 0;}
			}
		}

		//enter-wrap

		.enter-wrap, .busked-link{display: inline-block;vertical-align: middle;}
		.enter-wrap{position: relative;margin-right: 20px;
			&.show{
				.header-form-wrap{
					&:before{transition:opacity 300ms ease;opacity: 1;}
				}
			}
			.enter-wrap-link{cursor: pointer;
				&:hover, &.active{
					.enter-wrap-text{color:#90bcb2;}
					.enter-wrap-icon{border-color:#90bcb2 transparent transparent transparent;transform:rotate(0deg);}
				}
			}
			.enter-wrap-text{display: inline-block;font-size: 14px;font-weight: 700;color:#52383d;text-transform: uppercase;transition:color 300ms ease;}
			.enter-wrap-icon{display: inline-block;vertical-align: middle;width: 0;height: 0;margin-top:-2px;border-width: 5px 4px 0 4px;border-color:#52383d transparent transparent transparent;border-style:solid;transform:rotate(-90deg);transform-origin:50% 50%;transition:border-color 300ms ease, transform 300ms ease;}

		}

		//basked link

		.busked-link{margin-right: 40px;
			a{text-decoration: none;color:#52383d;font-weight: 700;text-transform: uppercase;font-size: 14px;position: relative;transition:color 300ms ease;
				&:hover{color:#90bcb2;
					.busked-icon{
						&:before{opacity: 1;}
						&:after{border-color:#90bcb2 transparent transparent transparent;}
					}
				}
			}
			.busked-icon{width: 18px;height: 18px;background-image:url(../images/basked-icon.png);background-repeat: no-repeat;position: absolute;display: inline-block;left: calc(100% + 5px);bottom: 3px;
				&:before{content: '';display: block;position: absolute;width: 100%;height: 100%;background-image:url(../images/basked-icon-hover.png);opacity: 0;transition:opacity 300ms ease;}
				&:after{content: '';position: absolute;display: block;width: 0;height: 0;border-width: 5px 4px 0 4px;border-color:#52383d transparent transparent transparent;border-style:solid;left: calc(100% + 10px);top: 10px;transition:border-color 300ms ease;}
				.basked-icon-value{position: absolute;display: table;width: 25px;height: 25px;border-radius: 50%;background-color:#d24a43;left:calc(100% - 10px);bottom: calc(100% - 10px);
					span{display: table-cell;vertical-align: middle;text-align: center;font-size: 12px;font-weight: 700;color:#fff;padding-top: 1px;}
				}
			}
		}

		//header form wrap

		.header-form-wrap{position: absolute;top:100%;right: 0;width: 370px;text-align: center;display: none;padding-top: 25px;
			&:before{content:'';display: block;position: absolute;top: 25px;left: 0;right: 0;bottom: 0;z-index: 0;background-color:transparent;border-radius:25px 0 25px 25px;box-shadow:0 8px 27px 0 rgba(35, 6, 1, .36), 0 -25px 32px 0 rgba(35, 6, 1, .1);opacity: 0;transition:opacity 0ms ease;}
			.header-form{background-color: #fff;border-radius: 25px 0 25px 25px;padding:25px 40px 20px 40px;position: relative;z-index: 1;
				&:before{content: '';display: block;position: absolute;right:0;bottom:100%;width: 0;height: 0;border-width: 13px;border-style:solid;border-color:transparent #fff #fff transparent;}
				.header-enter-title{font-weight: 700;font-size: 18px;color:#6c484e;text-transform: uppercase;margin-bottom: 40px;line-height: 22px;}
				.buttons_form_main{padding-top: 50px;margin-bottom: 25px;
					.buttons_form_wrap{margin-bottom: 10px;
						&:last-child{margin-bottom: 0;}
					}
				}
				.header-form-links{
					.header-form-links-text{color:#292727;font-size:11px;margin-bottom: 20px;}
					.header-form-links-socials{
						a{text-decoration:none;display: inline-block;margin:0 2px;border:2px solid transparent;border-radius: 7px;}
					}
				}
			}
		}
	}

/* /header */

/* form */

	.form{
		.form_row{margin-bottom: 16px;
			&:after{content:'';display: block;clear:both;}
		}
		.form_input_wrap{text-align: left;
			.form_input_title{font-weight: 700;font-size:14px;color:#bd864c;text-transform:uppercase;letter-spacing:0.75px;margin-bottom: 5px;}
			.form_input{position: relative;
				input{width: 100%;background-color:#fff;border:1px solid #d4a16c;padding: 0 7px;height: 35px;line-height: 35px;font-size: 14px;color:#000;border-radius: 5px;box-shadow:0 0 0 0 rgba(185, 4, 4, 0);transition:box-shadow 300ms ease, border-color 300ms ease;
					&.error{border-color:red;box-shadow: 0 0 5px 0 rgba(185, 4, 4, .75);
						&::-webkit-input-placeholder {color:#b90404;}
						&:-moz-placeholder {color:#b90404;}
						&::-moz-placeholder {color:#b90404;}
						&:-ms-input-placeholder {color:#b90404;}
					}
					&[type="password"]{
						&+.errorText{top: calc(100% + 15px);width: auto;height: auto;opacity: 1;color:#b90404;font-size: 12px;}
					}
				}
			}
			.errorText{font-size: 0;color:transparent;height: 0;width: 0;opacity: 0;line-height: 0;position: absolute;top: -9999px;}
			.form_input_link{text-align: right;padding-top: 3px;
				a{text-decoration: none;color:#5b8069;font-size:12px;font-weight: 400;letter-spacing: .5px;position: relative;transition:color 300ms ease;
					&:after{content: '';display: block;position: absolute;left: 0;top: 100%;height: 1px;background-color: #5b8069;width: 100%;transition:width 300ms ease, background-color 300ms ease;}
					&:hover{color:#90bcb2;
						&:after{width: 0;background-color: #90bcb2;}
					}
				}
			}
		}
	}

/* /form */