<!-- HEADER -->
<header class="header">

    <div class="mbox">

        <div class="mobile-field"></div>

        <div class="header-logo-mobile">
            <img src="images/header-logo.png" alt="" />
        </div>

        <!-- enter & busked -->
        <div class="header-links-wrap">

            <!-- enter link -->
            <div class="enter-wrap enter-wrap-link-active">

                <div class="enter-wrap-link">
                    <div class="enter-wrap-text">кабинет</div>
                    <div class="enter-wrap-icon"></div>
                </div>
                <div class="header-form-wrap">
                    <div class="header-form">

                        <a href="#" class="button green-button">
                            <span>Личный кабинет</span>
                        </a>

                        <a href="#" class="button">
                            <span>Выход</span>
                        </a>

                    </div>
                </div>

            </div>

            <!-- busked link -->
            <div class="busked-link">
                <a href="#busked" class="fancybox-basked">
                    <span class="busked-text">Корзина</span>
                    <span class="busked-icon">
                        <span class="basked-icon-value">
                            <span>2</span>
                        </span>
                    </span>
                </a>
            </div>

        </div>

        <!-- menu & logo -->
        <div class="header-navigate-wrap">

            <div class="sendwich-icon-wrap">
                <div class="sedwich-icon">
                    <span></span>
                </div>
            </div>

            <div class="header-navigate-main">

                <div class="header-menu header-left">
                    <ul>
                        <li class="active">
                            <a href="#">Главная</a>
                        </li>
                        <li class="second-level" data-id=1>
                            <a href="#">Каталог</a>
                            <ul>
                                <li>
                                    <a href="#">О нас</a>
                                </li>
                                <li>
                                    <a href="#">рекомендации</a>
                                </li>
                                <li>
                                    <a href="#">статьи</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level" data-id=2>
                            <a href="#">Новости</a>
                            <ul>
                                <li>
                                    <a href="#">О нас</a>
                                </li>
                                <li>
                                    <a href="#">рекомендации</a>
                                </li>
                                <li>
                                    <a href="#">статьи</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="header-logo">
                    <img src="images/header-logo.png" alt="" />
                </div>

                <div class="header-menu header-right">
                    <ul>
                        <li>
                            <a href="#">доставка</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</header>
<!-- /HEADER -->

