<!-- HEADER -->
<header>

	<div class="mbox">
		
		<!-- enter & busked -->
		<div class="header-links-wrap">

			<!-- enter link -->
			<div class="enter-wrap">

				<div class="enter-wrap-link">
					<div class="enter-wrap-text">вход</div>
					<div class="enter-wrap-icon"></div>
				</div>

				<div class="header-form" style="display: none;">
					<div class="header-enter-title">Войдите в личный кабинет или зарегестрируйтесь</div>
					<form class="header-form-main form">
						<div class="form_row">
							<div class="form_input">
								<div class="form_input_title">Логин</div>
								<div class="form_input_wrap">
									<input type="text" placeholder="Введите ваш логин" required="required" />
								</div>
							</div>
						</div>
						<div class="form_row">
							<div class="form_input">
								<div class="form_input_title">Пароль</div>
								<div class="form_input_wrap">
									<input type="password" placeholder="Введите пароль" required="required" />
								</div>
								<div class="form_input_link">
									<a href="#">Забыли пароль?</a>
								</div>
							</div>
						</div>
						<div class="form_row buttons_form_main">

							<div class="buttons_form_wrap">
								<a href="#" class="button">зарегистрироваться</a>
							</div>
							<div class="buttons_form_wrap">
								<button type="submit" class="button green-button">войти</button>
							</div>

						</div>
					</form>
					<div class="header-form-links">
						<div class="header-form-links-text">или войдите через соц.сети</div>
						<div class="header-form-links-socials">
							<a href="#" class="social-item">
								<img src="images/social-link-1.png" alt="" />
							</a>
							<a href="#" class="social-item">
								<img src="images/social-link-2.png" alt="" />
							</a>
							<a href="#" class="social-item">
								<img src="images/social-link-3.png" alt="" />
							</a>
						</div>
					</div>
				</div>

			</div>

			<!-- busked link -->
			<div class="busked-link">
				<a href="#busked">
					<span class="busked-text">Корзина</span>
					<span class="busked-icon">
						<span class="basked-icon-value"></span>
					</span>
				</a>
			</div>

		</div>

		<!-- menu & logo -->
		<div class="header-navigate-wrap">

			<div class="header-menu header-left">
				<ul>
					<li>
						<a href="#">Главная</a>
					</li>
					<li class="second-level">
						<a href="#">Каталог</a>
						<ul>
							<li>
								<a href="#">О нас</a>
							</li>
							<li>
								<a href="#">рекомендации</a>
							</li>
							<li>
								<a href="#">статьи</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Новости</a>
					</li>
				</ul>
			</div>

			<div class="header-logo">
				<img src="images/header-logo.png" alt="" />
			</div>

			<div class="header-menu header-right">
				<ul>
					<li>
						<a href="#">доставка</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</ul>
			</div>

		</div>

	</div>

</header>
<!-- /HEADER -->

