<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="busked">
        <div class="busked">

            <div class="busked-title">Корзина</div>
            <div class="busked-form">
                <form class="busked-form-main">
                    <div class="busked-items-wrap">
                        <div class="busked-item">

                            <div class="busked-remove"></div>

                            <div class="busked-img">
                                <img src="images/busked-item-img1.png" alt="" />
                            </div>

                            <div class="busked-descripition">
                                <div class="busked-description-title">Консервы для кошек Schesir Cat Tuna Surimi со вкусом тунца с сурими 85 г</div>
                                <div class="busked-description-main">
                                    <div class="busked-description-price" data-price="80">
                                        <span>80 руб</span>
                                    </div>
                                    <div class="busked-description-count">

                                        <div class="count-button count-minus disable"></div>
                                        <div class="count-input">
                                            <input type="text" value="0" />
                                        </div>
                                        <div class="count-button count-plus"></div>

                                    </div>
                                    <div class="busked-description-value">
                                        <span class="busked-description-value-text"></span>
                                        <span>руб</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="busked-item">

                            <div class="busked-remove"></div>

                            <div class="busked-img">
                                <img src="images/busked-item-img2.png" alt="" />
                            </div>

                            <div class="busked-descripition">
                                <div class="busked-description-title">Консервы для кошек Schesir Cat Tuna Surimi со вкусом тунца с сурими 85 г</div>
                                <div class="busked-description-main">
                                    <div class="busked-description-price" data-price="80">
                                        <span>80 руб</span>
                                    </div>
                                    <div class="busked-description-count">

                                        <div class="count-button count-minus disable"></div>
                                        <div class="count-input">
                                            <input type="text" value="0" />
                                        </div>
                                        <div class="count-button count-plus"></div>

                                    </div>
                                    <div class="busked-description-value">
                                        <span class="busked-description-value-text"></span>
                                        <span>руб</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="busked-buttons">
                        <div class="busked-buttons-left">
                            <a href="#" class="busked-callback-link button button-simple-gray">
                                <span>продолжить покупки</span>
                            </a>
                        </div>
                        <div class="busked-buttons-right">

                            <div class="busked-buttons-right-wrap">
                                <div class="busked-sum">
                                    <span class="busked-sum-text">Итого:</span>
                                    <span class="busked-sum-value">
                                        <span class="busked-sum-value-numb"></span>
                                        <span class="busked-sum-value-currency">руб</span>
                                    </span>
                                </div>

                                <button class="button" type="submit">
                                    <span>оформить заказ</span>
                                </button>
                                <input type="hidden" name="basked_sum" class="hidden-busked-sum" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="call_success_email" class='space-machine'>
        <div class="conteiner-success">
            <div class="row-name">Электронный адрес упешно изменён</div>
            <div class="row-button">
                <div class="button-v-konce reset-page">
                    <a  class="button">
                        <span>Хорошо</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="call_success_pass" class='space-machine'>
        <div class="conteiner-success">
            <div class="row-name">Пароль успешно изменён</div>
            <div class="row-button">
                <div class="button-v-konce reset-page">
                    <a  class="button">
                        <span>Хорошо</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>