<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заказ!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="call_success_change" class='space-machine'>
        <div class="conteiner-success">
            <div class="row-name"></div>
            <div class="row-button">
                <div class="button-v-konce reset-page">
                    <a  class="button">
                        <span>Хорошо</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="busked">
        <div class="busked">

            <div class="busked-title">Корзина</div>
            <div class="preloader"></div>
            <div class="busked-form">
                <form class="busked-form-main">
                    <div class="busked-items-wrap">

                    </div>
                    <div class="busked-buttons">
                        <div class="busked-buttons-left">
                            <span class="busked-callback-link button button-simple-gray">
                                <span>продолжить покупки</span>
                            </span>
                        </div>
                        <div class="busked-buttons-right">

                            <div class="busked-buttons-right-wrap">
                                <div class="busked-sum">
                                    <span class="busked-sum-text">Итого:</span>
                                    <span class="busked-sum-value">
                                        <span class="busked-sum-value-numb"></span>
                                        <span class="busked-sum-value-currency">руб</span>
                                    </span>
                                </div>

                                <button class="button" type="button">
                                    <span>оформить заказ</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="order-form">
        <div class="order-form">

            <div class="order-form-title">Оформление заказа</div>

            <form action="ajax.php" class="order-form-main form">

                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Имя</div>
                        <div class="form_input">
                            <input type="text" name="first_name" placeholder="Введите имя" required="required" />
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Фамилия</div>
                        <div class="form_input">
                            <input type="text" name="second_name" placeholder="Введите фамилию"/>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">E-mail</div>
                        <div class="form_input">
                            <input type="email" name="email" value="111" placeholder="Введите E-mail" id="order-form-email" class="mygroup"/>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Телефон</div>
                        <div class="form_input">
                            <input type="text" class="tel-mask mygroup" name="phone" value="" placeholder="Введите телефон" id="order-form-phone" />
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Адрес</div>
                        <div class="form_input">
                            <textarea name="address" rows="4" placeholder="Введите адрес" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Коментарий</div>
                        <div class="form_input">
                            <textarea name="comment" rows="4" placeholder="Введите коментарий"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form_row">
                    <div class="form_input_wrap">
                        <div class="form_input_title">Доставка:</div>
                        <div class="form_input">
                            <select name="delivery" class="form-select delivery-price-select">
                                <option></option>
                                <option value="300">Доставка за МКАД до 10 км</option>
                                <option value="600">Доставка за МКАД до 30 км</option>
                            </select>
                        </div>
                        <div class="delivery-price"></div>
                    </div>
                </div>

                <div class="form_row">
                    <div class="busked-order-sum">
                        <span class="busked-order-sum-text">Итого:</span>
                        <span class="busked-order-value">
                            <span class="busked-order-value-num"></span>
                            <span class="busked-order-sum-currency">руб</span>
                        </span>
                    </div>
                </div>

                <div class="form_row submit">
                    <button class="button green-button" type="submit">
                        <span>Отправить</span>
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>