<div class="item-card">
    <div class="mbox">
        <div class="item-card-title">
            <h2>Консервы для кошек Schesir Cat Tuna Surimi со вкусом тунца с сурими 85 г</h2>
        </div>
        <div class="item-card-center cfix">
            <div class="item-card-left">
                <div class="item-card-img cfix show-slider">
                    <div class="item-card-column">
                        <div class="item-card-img-item slick-current">
                            <img src="images/item-card-main-img.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-2.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-3.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-4.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="item-card-main-img">
                        <div class="item-card-main-img-wrap">
                            <a href="#item-card-pop" class="item-card-fancybox">
                                <img src="images/item-card-main-img.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-card-right">
                <div class="item-card-table">
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Тип</span>
                        </div>
                        <div class="item-card-col-right">
                            <span>Консервы</span>
                        </div>
                    </div>
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Класс </span>
                        </div>
                        <div class="item-card-col-right">
                            <span>Супер премиум</span>
                        </div>
                    </div>
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Возраст </span>
                        </div>
                        <div class="item-card-col-right">
                            <span>От 2 мес. - до 12 мес.</span>
                        </div>
                    </div>
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Порода</span>
                        </div>
                        <div class="item-card-col-right">
                            <span>Все породы</span>
                        </div>
                    </div>
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Основные ингредиенты</span>
                        </div>
                        <div class="item-card-col-right">
                            <span>Алоэ, Тунец</span>
                        </div>
                    </div>
                    <div class="item-card-row cfix">
                        <div class="item-card-col-left">
                            <span>Вес упаковки</span>
                        </div>
                        <div class="item-card-col-right">
                            <span>0.085 кг</span>
                        </div>
                    </div>
                </div>
                <hr class="hr">
                <div class="item-card-right-bottom cfix">
                    <div class="item-card-right-bottom-left">
                        <span>80 руб</span>
                    </div>
                    <div class="item-card-right-bottom-right">
                        <a href="#" class="button"><span>Купить</span></a>
                        <span class="in-busket-text">
                            <span>В корзине</span>
                            <span class="in-busked-icon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="item-card-texter">
            <h4><b>Описание</b> Консервы для кошек Schesir Cat Tuna Surimi со вкусом тунца с сурими 85 г</h4>
            <p>Полноценный влажный корм <b>Schesir (Шезир)</b> с натуральными тунцом и алоэ премиальные консервы для котят. Содержит все необходимые для ежедневного рациона питательные вещества, микро- и макроэлементы, витамины и таурин. Вкусное и полезное блюдо приготовлено из свежего мяса тунца, с добавлением алоэ. Для приготовления корма Schesir используются натуральные и экологически чистые продукты, без добавления искусственных красителей и консервантов.</p>
            <p><b>Ингредиенты:</b> тунец 51 %, алоэ 4.7 %, подсолнечное масло 1.6 %, рис 1.2 %, микро- и макроэлементы, овощное желе.</p>
            <p><b>Ингредиенты:</b> тунец 51 %, алоэ 4.7 %, подсолнечное масло 1.6 %, рис 1.2 %, микро- и макроэлементы, овощное желе.</p>
            <p><b>Рекомендации по кормлению:</b> до 3-х месяцев 2/3 банки в день; от 4 — 10 месяцев 3/4 банки в день; от 11 до 13 месяцев 3 банки в день.</p>
            <p>У животного всегда должен быть доступ к свежей воде.</p>
        </div>

        <div class="item-card-hidden">
            <div id="item-card-pop">
                <div class="item-card-pop-top cfix">
                    <div class="item-card-pop-title">Консервы для кошек Schesir Cat Tuna Surimi со вкусом тунца с сурими 85 г</div>
                    <div class="item-card-pop-buy cfix">
                        <div class="item-card-pop-buy-wrap">
                            <div class="item-card-pop-price">80 руб</div>
                            <div class="item-card-pop-button">
                                <a href="#" class="button"><span>Купить</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-card-img cfix hidden-slider">
                    <div class="item-card-column">
                        <div class="item-card-img-item slick-current">
                            <img src="images/item-card-main-img.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-2.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-3.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-4.jpg" alt="">
                        </div>
                        <div class="item-card-img-item">
                            <img src="images/item-card-img-item-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="item-card-main-img">
                        <div class="item-card-main-img-wrap">
                            <img src="images/item-card-main-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>