<section id='last-news'>
    <div class="wrap-last">
          <div class="convert-last">
              <div class="mbox">
                  <div class="content-last">
                      <div class="title-text">
                          <h2>Последние новости</h2>
                      </div>
                      <div class="items-wrap cfix">
                          <div class="item-inside ">
                              <div class="image-block">
                                <img src="images/nyancat1.jpg" alt="">
                              </div>
                              <div class="after-text"> Рыжий кот идет на работу</div>
                              <div class="lapische"></div>
                              <div class="undertext">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов</div>
                              <div class="button-v-konce">
                                  <a href="">
                                    <span>подробнее...</span>
                                  </a>
                              </div>
                          </div>
                          <div class="item-inside">
                              <div class="image-block">
                                  <img src="images/nyancat2.jpg" alt="">
                              </div>
                              <div class="after-text"> Рыжий кот идет на работу </div>
                              <div class="lapische"></div>
                              <div class="undertext">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов...</div>
                              <div class="button-v-konce">
                                  <a href="">
                                    <span>подробнее...</span>
                                  </a>
                              </div>
                          </div>
                          <div class="item-inside">
                              <div class="image-block">
                                  <img src="images/nyancat3.jpg" alt="">
                              </div>
                              <div class="after-text"> Рыжий кот идет на работу </div>
                              <div class="lapische"></div>
                              <div class="undertext">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов...</div>
                              <div class="button-v-konce">
                                  <a href="" class="button">
                                    <span>подробнее...</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>