<div class="like-massonry">
    <div class="mbox">
        <div class="like-massonry-wrap">
            <div class="like-massonry-grid cfix">
                <div class="item-left cfix">
                    <div class="item_1 grid_item" data-height-normal="0.72" >
                        <a href="#">
                            <span>Корм</span>
                        </a>
                    </div>
                    <div class="item_2 grid_item" data-height-normal="1.755">
                        <a href="#">
                            <span>Акции</span>
                        </a>
                    </div>
                </div>
                <div class="item-right cfix">
                    <div class="item-top cfix">
                        <div class="item-top-left cfix">
                            <div class="item_3 grid_item" data-height-normal="1.433">
                                <a href="#">
                                    <span>Одежда</span>
                                </a>
                            </div>
                        </div>
                        <div class="item-top-right cfix">
                            <div class="item_4 grid_item" data-height-normal="0.361">
                                <a href="#">
                                    <span>Игрушки</span>
                                </a>
                            </div>
                            <div class="item_5 grid_item" data-height-normal="0.361">
                                <a href="#">
                                    <span>Лекарства</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-bottom cfix">
                        <div class="item-bottom-left cfix">
                            <div class="item_6 grid_item" data-height-normal="0.566">
                                <a href="#">
                                    <span>Спальники</span>
                                </a>
                            </div>
                        </div>
                        <div class="item_7 grid_item" data-height-normal="0.97">
                            <a href="#">
                                <span>Витамины</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>