<div class="like-massonry">
    <div class="mbox">
        <div class="title-text">
            <h2>Коллекции</h2>
        </div>
        <div class="like-massonry-wrap">
            <div class="like-massonry-grid cfix">
                <div class="item-left cfix">
                    <div class="item_1 grid_item" data-height-normal="0.72" >
                        <a href="#" style="background-image: url(./images/like-massonry-item-1.jpg);">
                            <span>Корм</span>
                        </a>
                    </div>
                    <div class="item_2 grid_item" data-height-normal="1.755">
                        <a href="#" style="background-image: url(./images/like-massonry-item-2.jpg);">
                            <span>Акции</span>
                        </a>
                    </div>
                </div>
                <div class="item-right cfix">
                    <div class="item-top cfix">
                        <div class="item-top-left cfix">
                            <div class="item_3 grid_item" data-height-normal="1.433">
                                <a href="#" style="background-image: url(./images/like-massonry-item-3.jpg);">
                                    <span>Одежда</span>
                                </a>
                            </div>
                        </div>
                        <div class="item-top-right cfix">
                            <div class="item_4 grid_item" data-height-normal="0.361">
                                <a href="#" style="background-image: url(./images/like-massonry-item-4.jpg);">
                                    <span>Игрушки</span>
                                </a>
                            </div>
                            <div class="item_5 grid_item" data-height-normal="0.361">
                                <a href="#" style="background-image: url(./images/like-massonry-item-5.jpg);">
                                    <span>Лекарства</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-bottom cfix">
                        <div class="item-bottom-left cfix">
                            <div class="item_6 grid_item" data-height-normal="0.566">
                                <a href="#" style="background-image: url(./images/like-massonry-item-6.jpg);">
                                    <span>Спальники</span>
                                </a>
                            </div>
                        </div>
                        <div class="item_7 grid_item" data-height-normal="0.97">
                            <a href="#" style="background-image: url(./images/like-massonry-item-7.jpg);">
                                <span>Витамины</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paral-cat-1 like-mas-cats parallax-cat " data-p="0.2">
        <img src="images/paral-cat-1.png" alt="">
    </div>
    <div class="paral-cat-2 like-mas-cats parallax-cat " data-p="0.1">
        <img src="images/paral-cat-2.png" alt="">
    </div>
</div>