<section id='popular-item'>
    <div class="popular-wrap">
        <div class="conteiner-pop">
            <div class="mbox">
                <div class="title-text">
                    <h2>Популярные товары</h2>
                </div>
                <div class="convert-box-pop cfix">
                    <div class="single-item ">
                        <div class="solution-conf">
                            <div class="conteiner-img">
                                <a href="#">
                                <img src="images/item-top1.jpg" alt="">
                                </a>
                            </div>
                            <div class="aftertext">
                                <div class="maming"> Лежанка «Волна» </div>
                                <div class="pricing"> 4 900 <span>руб.</span>  </div>
                            </div>
                        </div>
                        <div class="button-v-konce">
                            <a href="" class="button green-button">
                                <span>подробнее...</span>
                            </a>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="solution-conf">
                            <div class="conteiner-img">
                                <a href="#">
                                <img src="images/item-top2.jpg" alt="">
                                </a>
                            </div>
                            <div class="aftertext">
                                <div class="maming">Лежанка «Трон» </div>
                                <div class="pricing">4 900 <span>руб.</span>  </div>
                            </div>
                        </div>
                        <div class="button-v-konce">
                            <a href="" class="button green-button">
                                <span>подробнее...</span>
                            </a>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="solution-conf">
                            <div class="conteiner-img">
                                <a href="#">
                                <img src="images/item-top3.jpg" alt="">
                                </a>
                            </div>
                            <div class="aftertext">
                                <div class="maming">Лежанка «Орех»</div>
                                <div class="pricing">4 900 <span>руб.</span> </div>
                            </div>
                        </div>
                        <div class="button-v-konce">
                            <a href="" class="button green-button">
                                <span>подробнее...</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>