<section class="top-block">
	<div class="mbox">
		<div class="top-block-wrap">
			<div class="top-block-text cfix">
				<div class="title-text"><h2>Побалуй свою киску!</h2></div>
				<div class="lapische"></div>
				<div class="description">
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>  
				</div>
				<a href="" class="button green-button">
	                <span>заказать</span>
	             </a>
			</div>
		</div>
	</div>
</section>