/*katalog*/
    @media screen and (max-width: 666px){
        .catalog{     padding-top: 20px;
            .cat-wrap{
                .cat-content{
                    aside{ max-width: 100%;     padding-bottom: 20px;
                        .cat-sale{display: none;}
                        .cat-menu{margin: 0 auto;}
                    }
                    .items-wrapp{width: 100%;
                        .item{ margin: 0 auto 5px; display: block;}
                        .otbivka{width:100%; left: 0;}
                    }
                }
            }
        }
        .popular-items .pop-wrap .pop-content .item{max-width: 49%;}
    }
/*END katalog*/
/*404*/
    @media screen and (max-width: 900px){
        .page404{
            .page404-wrap{
                .text{
                    p{ font:400 24px/24px 'Neris';
                        &:nth-child(1){ font:400 48px/48px 'NeoSans';}
                    }
                }
            }
        }
    }
    @media screen and (max-width: 666px){
        .page404{
            .page404-wrap{
                .text{     padding-top: 47px;
                    p{ font:400 16px/16px 'Neris';
                        &:nth-child(1){ font:400 30px/30px 'NeoSans';}
                    }
                }
            }
        }
    }
    @media screen and (max-width: 480px){
        .page404{
            .page404-wrap{
                .text{     padding-top: 47px;
                    p{ font:400 12px/12px 'Neris';
                        &:nth-child(1){ font:400 22px/22px 'NeoSans';}
                    }
                }
            }
        }
    }
/*END 404*/
/*contacts*/
    @media screen and (max-width: 1200px){
       .contacts{
            .contacts-wrapp{
                .left-sect{padding:0; width: 43%;
                    .title-text{    font-size: 40px;}
                }
            }
        }
    }
    @media screen and (max-width: 1024px){
       .contacts{ height: 1350px; background-color: #F8F4F3;
            .contacts-wrapp{ background-color: #F8F4F3;
                .left-sect{padding:0; width: 100%; float: none;
                    .title-text{    font-size: 40px;}
                }
                .right-sect{width:100%; float: none;
                    .border-align{ position: relative; padding-left: calc((100% - 615px)/2);}
                }
            }
        }
    }
    @media screen and (max-width: 666px){
       .contacts{
            .contacts-wrapp{
                .right-sect{width:100%; float: none;
                    .border-align{ position: relative; padding-left:0;
                        .border{  position: relative;
                            .ramka{display: none;}
                        }
                        #mapInit{width:100%; position: relative; top:0; left:0;}
                    }
                }
            }
        }
    }
    @media screen and (max-width: 480px){
       .contacts{     height: 1176px;
            .contacts-wrapp{padding-top: 30px;
                .left-sect{
                    .title-text{line-height: 40px;}
                    .form-wrap{
                        .item-d{
                            .titl{ font: 700 16px/16px 'PFDinTextPro'; }
                            .desc{ font: 400 16px/16px 'PFDinTextPro';   }
                        }
                        .contacts-form{
                            &.form {
                                .half{max-width: 100%; margin-bottom: 10px;}
                            }
                        }
                    }
                }
            }
        }
    }
/*END contacts*/
/*about-us*/
    @media screen and (max-width: 1600px){
        .about-us{
            .whiskas{width: calc((100% - 1200px)/2); }
        }
    }
    @media screen and (max-width: 768px){
        .about-us{
            .about-wrapp{ padding-top: 40px;
                 .about-pane1{
                    .content-box{padding-bottom: 80px;
                        .imgs{float: none; border: none; width: 100%; margin: 7px 0 ;
                            img{margin:0 auto; display: block;}
                        }

                    }
                }
            }
        }
    }
/*END about-us*/
/*password-recover*/
     @media screen and (max-width: 768px){
        .password-recover{
            .whiskas{padding-bottom:250px;}
        }
    }
    @media screen and (max-width: 600px){
        .password-recover{
            .recover-wrap{padding-top: 45px;     padding-bottom: 169px;
                .title-text{    line-height: 34px; padding-bottom: 14px; font-size: 40px; padding-left: 0;}
            }
        }
    }
    @media screen and (max-width: 400px){
        .password-recover{.recover-wrap{ .title-text{ font-size: 36px; } } }
    }
/*END password-recover*/

/*registration*/
    @media screen and (max-width: 920px){
        .registration{
            .registration-wrap{ padding-bottom: 110px; padding-top: 106px;
                .content{    padding: 54px 0px 0;}
                .registration-form{
                    &.form{ width: 287px; margin: 0 auto;
                        .form_input_wrap{   margin-right: 0;
                            .form_input{
                                input{height: 36px;}
                            }
                        }
                    }
                }
                .buttons_form_main{margin-top: 30px;}
                .buttons_form_wrap{text-align: center;
                    .button span{height: 50px;}
                }
                .socials{text-align: right;}

            }
        }
    }
    @media screen and (max-width: 480px){
        .registration{
            .registration-wrap{ padding-bottom: 80px; padding-top: 50px;}
        }
    }
    @media screen and (max-width: 768px){
        .registration{
            .whiskas{padding-bottom:250px;}
        }
    }
/*END registration*/