@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*like massonry*/
    .paral-cat-1{max-width: 98px;}
    .paral-cat-2{max-width: 98px;}

    /*item-card --------------------------------------------*/
    .item-card .item-card-center {padding-bottom: 45px;}
    /*/item-card --------------------------------------------*/

    /*top-block*/
    .top-block .title-text:after{right: 1px;top: -62%;}
    /*/top-block*/
}
@media screen and (max-width: 1280px){
    /*like massonry*/
    .paral-cat-1{display: none;}
    .paral-cat-2{display: none;}
}
@media screen and (max-width: 1024px){
    /*top-block*/
    .top-block{background-position-x: 28%;min-height: 700px;
        .top-block-text{padding-top: 230px;padding-right: 60px;}
        .title-text{font-size: 65px; }
        .lapische{}
        .description{
            p{}
        }
    }
    /*/top-block*/

    /*item-card --------------------------------------------*/

    /*popup*/

    #item-card-pop{width: 800px;padding: 30px;
    }
    /*/item-card --------------------------------------------*/
}
@media screen and (max-width: 992px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 209px;background-color: white;text-align: center;
        &:after{}
        &:before{}
        .like-massonry-grid{}
        a{
            span{}
        }
        .grid_item{min-height: 220px;max-width: 300px;display: inline-block;width: calc(100% - 10px);vertical-align: top;margin-left: 5px;margin-right: 5px;}
        .item-left{float: none;padding-right: 0px;display: block;width: 74%;margin:0 auto;margin-bottom: 20px;
            .item_1{margin-bottom: 0px;width: calc(50% - 10px);float: left;}
            .item_2{width: calc(50% - 10px);float: right;
                a{background-position: center 27%;}
            }
        }
        .item-right{float: none;width: 74%;margin:0 auto;
            .item-top{margin-bottom: 20px;
                .item-top-left{float: left;width: 50%;padding-right: 0px;
                    .item_3{float: left;min-height: 460px;}
                }
                .item-top-right{float: left;width: 50%;
                    .item_4{margin-bottom: 20px;float: right;}
                    .item_5{float: right;
                        a{background-position: 66% center;}
                    }
                }
            }
            .item-bottom{
                .item-bottom-left{padding-right: 0px;float: left;width:50%;}
                .item_6{float: left;width: calc(100% - 10px);}
                .item_7{float: right;width: calc(50% - 10px);}
            }
        }
        .title-text{}
    }


    /*delivery*/
    .delivery{margin-top: -39px; min-height: 720px;background-position-x: 43%;
        .title-text{text-align: center;padding-top: 100px;}
        .delivery-item{
            &.item-5{
                .delivery-item-text{bottom: 13px;left: 53%;}
            }
        }
    }
    /*/delivery*/

    /*item-card --------------------------------------------*/

    /*popup*/
    .item-card {
        .item-card-title{text-align: center;}
        .item-card-center{padding-left: 10px;padding-right: 10px;padding-bottom: 40px;}
        .item-card-left{float: none;display: block;margin:0 auto;}
        .item-card-right{float: none;display: block;margin:0 auto;max-width: 400px;width: 100%;padding-top: 30px;}
    }
    #item-card-pop{width: 690px;padding: 25px;
        .item-card-pop-title{float: none;width: 100%;padding: 10px;padding-bottom: 20px;}
        .item-card-pop-buy{float: none;display: block;width: 100%;margin:0 auto;}
    }
    /*/item-card --------------------------------------------*/
}
@media screen and (max-width: 767px){

    /*item-card --------------------------------------------*/

    /*popup*/

    #item-card-pop{width: auto;padding: 35px 25px;}
    .item-card-pop-title{float: none;width: 100%;padding: 10px;padding-bottom: 20px;}
    .item-card-pop-buy{float: none;display: block;width: 100%;margin:0 auto;}
    .item-card-main-img{height: 360px !important;max-width: 360px !important;float: none !important;display: block;margin:0 auto;margin-bottom: 100px;}
    .item-card-column{float: none !important;max-width: 360px !important;width: 100%;position: absolute;bottom: 0;margin-bottom: 0;transform: translateX(-50%);left: 50%;}
    .item-card-img{position: relative;}
    .item-card-img-item,#item-card-pop .item-card-img-item{height: 80px !important;width: 80px;margin:0 5px;}

    .item-card-column .slick-prev,.item-card-column .slick-next{top: 50%;transform: translate(-50%, -50%) rotate(-45deg);left: auto;bottom: auto;
        &:before{content: '';}
    }
    .item-card-column .slick-prev{left: -10px;}
    .item-card-column .slick-next{transform: translate(-50%, -50%) rotate(135deg);right: -20px;}

    /*/item-card --------------------------------------------*/

}
@media screen and (max-width: 666px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 209px;
        .grid_item{min-height: 220px;max-width: 300px;width: calc(100% - 10px);}
        .item-left{width: 95%;}
        .item-right{width: 95%;}
    }

    /*top-block*/
    .top-block{min-height: 700px;background-size: cover;background-position: 20% center;
        .top-block-text{text-align: center;padding-right: 0;padding-top: 265px;}
        .title-text{font-size: 62px;
            &:after{display: none;}
        }
        .lapische{}
        .description{
            p{max-width: 420px;}
        }
    }
    /*/top-block*/

    /*delivery*/
    .delivery{margin-top: -39px; min-height: 720px;background-position-x: 43%;
        .title-text{padding-top: 100px;}
        .delivery-item{width: 50%;display: block;margin:0 auto;margin-bottom: 45px;
            &.item-5{
                .delivery-item-text{bottom: 13px;left: 53%;}
            }
        }
    }
    /*/delivery*/


}
@media screen and (max-width: 479px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 120px;background-color: white;text-align: center;
        &:after{}
        &:before{}
        .like-massonry-grid{}
        a{
            span{}
        }
        .grid_item{min-height: 240px;max-width: 300px;width: calc(100% - 10px);}
        .item-left{float: none;display: block;width: 95%;margin-bottom: 20px;
            .item_1{width: calc(100% - 10px);float: none;margin-bottom: 20px;}
            .item_2{width: calc(100% - 10px);float: none;}
        }
        .item-right{float: none;width: 95%;
            .item-top{margin-bottom: 20px;
                .item-top-left{float: none;width: 100%;padding-right: 0px;
                    .item_3{float: none;min-height: 240px;margin-bottom: 20px;}
                }
                .item-top-right{float: none;width: 100%;
                    .item_4{margin-bottom: 20px;float: none;}
                    .item_5{float: none;}
                }
            }
            .item-bottom{
                .item-bottom-left{float: none;width:100%;}
                .item_6{float: none;width: calc(100% - 10px);margin-bottom: 20px;}
                .item_7{float: none;width: calc(100% - 10px);}
            }
        }
        .title-text{padding-top: 35px;}
    }

    /*top-block*/
    .top-block{min-height: 560px;background-size: cover;background-position: 20% center;
        .top-block-text{padding-top: 123px;}
        .title-text{font-size: 48px;line-height: 46px; }
        .lapische{}
        .description{
            p{max-width: 420px;}
        }
    }
    /*/top-block*/

    /*delivery*/
    .delivery{background-position-x: 43%;
        .delivery-item{width: 75%;
            &.item-5{
                .delivery-item-text{bottom: 13px;left: 53%;}
            }
        }
    }
    /*/delivery*/

    /*item-card --------------------------------------------*/

    /*popup*/
    .item-card {padding-bottom: 90px;padding-top: 70px;
        .item-card-right{max-width: 320px;}
        .item-card-table{width: 100%;}
        .item-card-table .item-card-col-left{max-width: 185px;}
        .item-card-left{width: 100%}
        .item-card-center{padding-bottom: 22px;}
        .item-card-texter{padding-top: 30px;}
    }

    #item-card-pop{
        .item-card-pop-title{font-size: 18px;line-height: 22px;text-align: center;}
        .item-card-pop-buy{float: none;display: block;width: 100%;margin:0 auto;}
        .item-card-pop-price{font-size: 23px;line-height: 23px;}
    }
        .item-card-img-item,#item-card-pop .item-card-img-item{height: 48px !important;width: 48px;margin: 0 5px;}
        .item-card-main-img,#item-card-pop .item-card-main-img{height: 220px !important;margin-bottom: 70px;}
        .item-card-column{max-width: 230px !important;}

    /*/item-card --------------------------------------------*/
}
@media screen and (max-width: 320px){

}