@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
    .conteiner-inside .content-more img { max-width: 50%;}

}
@media screen and (max-width: 1024px){


}
@media screen and (max-width: 992px){
    .delivery-wrap .convert-delivery .after-content .row .sliced-row{width: 100%; float: none;    padding: 10px 0;}

    .conteiner-inside .news-lol-scroll {
        h3 i { display: block; position: static;}
        h3 span{display: block; width: 100%;}
        i{display: none;}
    }
    .convert-box-pop .single-item { float: none; width: 80%; margin: 20px 10%; padding-bottom: 60px;
        .aftertext .pricing {width: 100px;}
        .button-v-konce { width: auto;  bottom: 0;  right: 20%; left: 20%;
            .button{max-width: 100%;}
        }
    }
    #last-news .wrap-last {background-image: url(../images/header-background-img.png); background-repeat: repeat-x;background-position: right bottom; background-size: auto auto;     padding-bottom: 80px;
            .convert-last {background-image: none;}
    }

    .best-bg-wrap .wrap-one-news {background-image: url(../images/header-background-img.png); background-repeat: repeat-x;background-position: right bottom; background-size: auto auto;     padding-bottom: 80px;
            .construct-impl {background-image: none;}
    }
    .items-wrap .item-inside { float: none; width: 80%; height: auto !important; margin: 20px auto;}
}
@media screen and (max-width: 767px){

    .breadrcrumbs{display: none;}

    .conteiner-inside .content-more{margin: 0 auto; max-width: 80%;
        img {float: none; display: block; max-width: 100%; width: 100%;}
        h3 { padding-top: 10px;    width: 100%;}
        p{padding-bottom: 25px; max-height: none;}
        .button-v-konce {position: static; width: 100%;
            .button.green-button {max-width: 100%;}
        }
    }

}
@media screen and (max-width: 666px){
    .delivery-wrap { padding-bottom: 40px;}
    .delivery-wrap .convert-delivery .after-content .row .content-element {
        .after-block { margin-left: 0px;}
        .element-img {margin: 0 10px 10px 0;}
    }

    #popular-item .popular-wrap { padding-top: 50px; padding-bottom: 80px;}

    .convert-box-pop .single-item { float: none; width: 80%; margin: 20px 10%;
        .aftertext .maming {width: calc(100% - 100px);}
        .button-v-konce { width: auto;  bottom: 0;  right: 0%; left: 0%;
            .button{max-width: 100%;}
        }
    }
    .title-text{ font-family: 'Posterizer'; font-size: 46px; line-height: 72px; text-align: center;}

    .items-wrap .item-inside .button-v-konce { width: auto;  bottom: 0;  right: 0%; left: 0%;
        .button{max-width: 100%;}
    }
    .best-bg-wrap .wrap-one-news {padding-bottom: 20px; padding-top: 20px;}

}
@media screen and (max-width: 479px){
    .conteiner-inside .content-more{margin: 0 auto; max-width: 100%;}

}
@media screen and (max-width: 320px){

}