/* min width */

@media screen and (min-width: 1025px){

	/* header */

		.header{

			// header-top (basic)

			.header-menu{
				li{
					&.second-level{
						&:hover{
							.second-level-icon{transform:rotate(90deg);}
						}
					}
				}
			}

			// header-bottom

			&.header-reverse{
				.header-menu{
					li{
						&.second-level{
							&:hover{
								.second-level-icon{transform:rotate(-90deg);}
							}
						}
					}
				}
			}
		}

	/* /header */

}

/* max width */

@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

	/* header */

		.header{
			.header-menu{
				li{margin-right: 3%;
					a{font-size: 12px;}
				}
			}
			.enter-wrap{
				.enter-wrap-text{font-size: 12px;}
			}
			.busked-link{
				a{font-size: 12px;}
			}
		}

	/* header */

}
@media screen and (max-width: 1200px){

	/* busked */

		.busked-wrapper-fancybox{max-width: calc(100% - 30px);}

	/* /busked */

}
@media screen and (max-width: 1024px){

	/* header */

		.header{

			// header-top (basic)

			&:after{display: none;}
			.mobile-field{display: block;}
			.mbox{padding:0 15px;
				&:before{content: '';display: block;position: absolute;left: 0;top:100%;right: 0;height: 52px;background-image:url(../images/header-background-img-main.png);z-index: 1;}
			}
			.header-logo{display: none;}
			.header-logo-mobile{display: block;}
			.header-links-wrap{text-align: right;}
			.header-navigate-wrap{margin-left: 0;position: static;width: auto;
				.header-social-links{left: 60px;top:calc(50% - 17px);}
				.header-navigate-main{width: 100%;}
				.sendwich-icon-wrap{display: block;
					&.active + .header-navigate-main{top:100%;
						&:after{left: 0;}
					}
				}
				.header-navigate-main{display: block;position: absolute;top:-400px;background-color: #f4f4f4;margin-left: -15px;z-index: 0;padding-top:100px;text-align:center;transition:top 1000ms ease, bottom 1000ms ease;
					&:after{content:'';display:block;position: absolute;width:200%;top:100%;left: -100%;background-image:url(../images/header-background-img-sendwich-main.png);background-repeat: repeat-x;height: 52px;background-position: 30% 0;transition:left 1000ms ease;}
					.header-menu{display: inline;position: relative;z-index: 1;padding-top: 0;
						&.header-left{z-index: 2;}
						&>ul{display: inline;}
						li{display:inline-block;margin-bottom: 10px;margin-right: 0;padding: 0 15px;
							&.second-level{
								ul{left:0;}
							}
						}
					}
				}
			}
			.header-menu{
				li{
					a{font-size: 14px;}
				}
			}
			.enter-wrap{
				.enter-wrap-text{font-size: 14px;}
			}
			.busked-link{
				a{font-size: 14px;}
			}

			// header-footer

			&.header-reverse{
				.mbox{
					&:before{top:auto;bottom: 100%;transform:rotate(-180deg);}
				}
				.header-logo-mobile{top:auto;bottom: 0;}
				.header-menu{
					li{
						&.second-level{
							.second-level-icon{
								&.rotate{transform:rotate(-90deg);}
							}
						}
					}
				}
				.header-links-wrap{padding-top: 25px;}
				.header-navigate-wrap{
					.header-navigate-main{top:auto;bottom: -400px;padding-top:20px;padding-bottom: 90px;
						&:after{top:auto;bottom: 100%;transform:rotate(-180deg);}
					}
					.sendwich-icon-wrap{top:20px;bottom: auto;
						&.active{
							&+.header-navigate-main{bottom:100%;top:auto;}
						}
					}
				}
			}

		}

	/* /header */

}
@media screen and (max-width: 992px){

	/* busked */

		.busked-wrapper-fancybox{
			.busked-description-main{margin-left:-180px;}
			.busked-buttons{text-align: center;
				.busked-buttons-left, .busked-buttons-right{width: 100%;margin-left: 0;}
				.busked-buttons-left{top:0;padding-top: 15px;}
				.busked-buttons-right{
					.busked-buttons-right-wrap{max-width: 100%;background-color: transparent;text-align: center;}
					.busked-sum{max-width: 355px;margin: 0 auto 5px auto;}
				}
				.busked-sum-value{text-align: right;}
			}
			.busked-description-title{min-height: 120px;}
		}

	/* /busked */

}
@media screen and (max-width: 767px){

	/* header */

		.header{
			.header-logo-mobile{position: relative;text-align: center;}
			.header-links-wrap{padding-top: 20px;margin-bottom:20px;padding-left: 0;}

			.header-navigate-wrap{min-height: 50px;
				.sendwich-icon-wrap{top: auto;bottom: 25px;}
				.header-navigate-main{padding-top: 55px;
					.header-menu{display: block;
						&>ul{
							&>li{
								&:last-child{
									&>ul{left:auto;right: 0;border-radius: 15px 0 15px 15px;text-align: right;}
								}
								&>ul{padding: 15px 15px 10px 15px;
									li{padding:0 0px;}
								}
							}
						}
					}
				}
			}

			.header-form-wrap{right: -60px;
				&:before{border-radius: 25px;}
				.header-form{border-radius: 25px;
					&:before{border-color:transparent transparent #fff transparent;right: 75px;border-width: 17px 13px;}
				}
			}

			// header-bottom

			&.header-reverse{
				.header-links-wrap{max-width: none;float: none;top: 25px;margin-bottom: 50px;}
				.header-navigate-wrap{
					.sendwich-icon-wrap{top:50px;}
					.header-navigate-main{padding-bottom: 60px;
						.header-menu{
							&>ul{
								&>li{
									&:last-child{
										&>ul{border-radius: 15px 15px 0 15px;}
									}
								}
							}
						}
					}
					.header-social-links{left: 50%;top: 5px;transform:translate(-50%, 0);}
				}
				.header-form-wrap{
					.header-form{border-radius: 25px;
						&:before{border-color: #fff transparent transparent transparent;border-width: 17px 13px;}
					}
				}
			}

		}

	/* /header */

	/* busked */

		.busked-wrapper-fancybox{
			.busked-description-main{
				.busked-description-price, .busked-description-count{width: 50%;}
				.busked-description-price{text-align: left;}
				.busked-description-count{text-align: right;}
				.busked-description-value{width: 100%;margin-left: 0;padding-top: 10px;text-align: center;}
			}
		}

	/* /busked */

}
@media screen and (max-width: 666px){

	/* busked */

		.busked-wrapper-fancybox{
			.busked{padding: 25px 25px;}
			.busked-remove{top: 30px;}
			.busked-img{width: 100%;height: auto;text-align: center;padding: 15px 0;margin-bottom: 15px;
				img{max-width: 100%;position: relative;top: 0;left: 0;transform:translate(0, 0);}
			}
			.busked-descripition{max-width: 100%;margin-left: 0;}
			.busked-description-main{margin-left: 0;
				.busked-description-price, .busked-description-count{width: 100%;margin-left: 0;text-align: center;}
				.busked-description-price{margin-bottom: 20px;}
			}
			.busked-description-title{min-height: 0;margin-bottom: 20px;text-align: center;}
		}

	/* /busked */

}
@media screen and (max-width: 479px){

	/* header */

		.header{
			.header-form-wrap{right:-110px;width: auto;
				.header-form{
					&:before{right: 130px;}
				}
			}
			.enter-wrap-link-active{
				.header-form-wrap{width: 270px;}
			}
		}

	/* /header */

	/* busked */

		.busked-wrapper-fancybox{
			.busked-item{padding: 25px 0px 25px 75px;}
			.busked-descripition{margin-left:-75px;max-width: calc(100% + 75px);width:calc(100% + 75px);}
		}

	/* /busked */

}
@media screen and (max-width: 320px){

}