@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*like massonry*/
    .paral-cat-1{max-width: 98px;}
    .paral-cat-2{max-width: 98px;}
}
@media screen and (max-width: 1280px){
    /*like massonry*/
    .paral-cat-1{display: none;}
    .paral-cat-2{display: none;}
}
@media screen and (max-width: 1024px){
    /*top-block*/
    .top-block{background-position-x: 28%;min-height: 700px;
        .top-block-text{padding-top: 230px;padding-right: 60px;}
        .title-text{font-size: 65px; }
        .lapische{}
        .description{
            p{}
        }
    }
    /*/top-block*/
}
@media screen and (max-width: 992px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 209px;background-color: white;text-align: center;
        &:after{}
        &:before{}
        .like-massonry-grid{}
        a{
            span{}
        }
        .grid_item{min-height: 220px;max-width: 300px;display: inline-block;width: calc(100% - 10px);vertical-align: top;margin-left: 5px;margin-right: 5px;}
        .item-left{float: none;padding-right: 0px;display: block;width: 74%;margin:0 auto;margin-bottom: 20px;
            .item_1{margin-bottom: 0px;width: calc(50% - 10px);float: left;}
            .item_2{width: calc(50% - 10px);float: right;
                a{background-position: center 27%;}
            }
        }
        .item-right{float: none;width: 74%;margin:0 auto;
            .item-top{margin-bottom: 20px;
                .item-top-left{float: left;width: 50%;padding-right: 0px;
                    .item_3{float: left;min-height: 460px;}
                }
                .item-top-right{float: left;width: 50%;
                    .item_4{margin-bottom: 20px;float: right;}
                    .item_5{float: right;
                        a{background-position: 66% center;}
                    }
                }
            }
            .item-bottom{
                .item-bottom-left{padding-right: 0px;float: left;width:50%;}
                .item_6{float: left;width: calc(100% - 10px);}
                .item_7{float: right;width: calc(50% - 10px);}
            }
        }
        .title-text{}
    }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 209px;
        .grid_item{min-height: 220px;max-width: 300px;width: calc(100% - 10px);}
        .item-left{width: 95%;}
        .item-right{width: 95%;}
    }

    /*top-block*/
    .top-block{min-height: 700px;background-size: cover;background-position: 20% center;
        .top-block-text{text-align: center;padding-right: 0;padding-top: 265px;}
        .title-text{font-size: 62px; 
            &:after{display: none;}
        }
        .lapische{}
        .description{
            p{max-width: 420px;}
        }
    }
    /*/top-block*/
}
@media screen and (max-width: 479px){
    /*like-massonry*/
    .like-massonry{padding-top: 50px;padding-bottom: 120px;background-color: white;text-align: center;
        &:after{}
        &:before{}
        .like-massonry-grid{}
        a{
            span{}
        }
        .grid_item{min-height: 240px;max-width: 300px;width: calc(100% - 10px);}
        .item-left{float: none;display: block;width: 95%;margin-bottom: 20px;
            .item_1{width: calc(100% - 10px);float: none;margin-bottom: 20px;}
            .item_2{width: calc(100% - 10px);float: none;}
        }
        .item-right{float: none;width: 95%;
            .item-top{margin-bottom: 20px;
                .item-top-left{float: none;width: 100%;padding-right: 0px;
                    .item_3{float: none;min-height: 240px;margin-bottom: 20px;}
                }
                .item-top-right{float: none;width: 100%;
                    .item_4{margin-bottom: 20px;float: none;}
                    .item_5{float: none;}
                }
            }
            .item-bottom{
                .item-bottom-left{float: none;width:100%;}
                .item_6{float: none;width: calc(100% - 10px);margin-bottom: 20px;}
                .item_7{float: none;width: calc(100% - 10px);}
            }
        }
        .title-text{padding-top: 35px;}
    }

    /*top-block*/
    .top-block{min-height: 560px;background-size: cover;background-position: 20% center;
        .top-block-text{padding-top: 123px;}
        .title-text{font-size: 48px;line-height: 46px; }
        .lapische{}
        .description{
            p{max-width: 420px;}
        }
    }
    /*/top-block*/
}
@media screen and (max-width: 320px){

}